/* Remove the standard margin/padding of the HTML body */

body {
    margin: 20px;
    padding: 0;
    background-color: whitesmoke;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /*Allgemeine Seitenübergreifende Textanpassungen, wie z.B. Textart*/
}

.menu { 
    height: 50%;
    text-align: center;
    /*Grösse und Position des Menus*/
}
.navigationButtons{
    height: 50px;
    width: 17%;
    color: black;
    background-color: #6f9196;/*Wird zu dunkelgrün*/
    font-size: 130%;
    /*Einstellungen der Buttons (Farbe, Grösse usw.) um die Seiten zu wechseln*/
}

.page { /*evtl. für später*/

}

.footer { 
    background-color: #6f9196;
    color: black;
    height: 10vh;
    padding: 20px;
    font-size: 17px;
    position: relative;
    text-align: left;
    /*Allgemeine Footer Einstellungen, wie background-color, Grösse, Farbe und Grösse des Textes und Position*/
}


#footerLink1{
    position: absolute; /*position: "absolute" ist notwendig, damit sie sich beim hovern nicht verschieben*/
    left: 2%;
    top: 18%;
    /*Regeln die Position der Links*/
}
#footerLink2{
    position: absolute;
    left: 2%;
    top: 42%;
}
#footerLink3{
    position: absolute;
    left: 2%;
    top: 65%;
}
.footer a{ 
    font-size: 100%;
    color: darkblue;
    /*Allgemeine Linkeinstellungen*/
}

.footer a:link{ 
    color: darkblue;
    /*Farbe, Link, wenn dieser noch nicht besucht wurde*/
}

.footer a:visited{ 
    color: darkorchid;
    /*Farbe, Link, wenn man den Link besucht hat*/
}

.footer a:hover{ 
    font-size: 110%;
    /*Änderung der Grösse des Links wenn man über ihn hovert*/
}

#gkgLogo img{
    position: absolute;
    height: 60%;
    right: 0%;
    top: 0%;
}
#footnote{ 
    z-index: 1;
    position: absolute;
    right: 0%;
    bottom: 0%;
    text-align: right;
    padding-right: 0.75%;
    padding-bottom: 0.75%;
    /*Grösse und Position der Fussnote*/
}




/*https://blog.bitsrc.io/pure-css-to-make-a-button-shine-and-gently-change-colors-over-time-5b685d9c6a7e*/
/*https://github.com/paigen11/paigeniedringhaus.com/blob/master/src/components/Subscribe/Subscribe.scss#L14*/