/* Remove the standard margin/padding of the html body */

body {
    margin: 20px;
    padding: 0;
    background-color: whitesmoke;
    color: black;
    /*background-color:  #353935;
    color: #03A062;*/
}

.menu { /*evtl. für später*/
    height: 50%;
    text-align: center;
}
.navigationButtons{
    height: 50px;
    width: 200px;
    color: black;
    background-color: #6f9196;/*wird zu dunkelgrün*/
    font-size: 20px;
}

.page { /*evtl. für später*/

}

.footer {
    background-color: #6f9196;
    color: black;
    height: 100px;
    padding: 20px;
    font-size: 17px;
    position: relative;
}

.footer a{
    text-align: left;
    color: darkblue;
}
.footer a:link{
    color: darkblue;
}
.footer a:visited{
    color: darkorchid;
}
.footer a:hover{
    font-size: large;
}

#footnote{
    /*background-color: aliceblue;*/
    width: 30%;
    position: absolute;
    right: 0%;
    bottom: 0%;
    text-align: right;
    padding-right: 0.75%;
    padding-bottom: 0.75%;
}




/*https://blog.bitsrc.io/pure-css-to-make-a-button-shine-and-gently-change-colors-over-time-5b685d9c6a7e*/
/*https://github.com/paigen11/paigeniedringhaus.com/blob/master/src/components/Subscribe/Subscribe.scss#L14*/