/* Remove the standard margin/padding of the html body */

body {
    margin: 0;
    padding: 0;
    /*background-color:  #353935;
    color: #03A062;*/
}

.menu { /*evtl. für später*/
    height: 50%;
}

.page { /*evtl. für später*/

}

.footer {
    background-color: #6f9196;
    color: black;
    height: 100px;
}

.footer a{
    text-align: left;
}
.footerFlexRow1{
    display: flex;
    justify-content: space-between;
}
.footerFlexRow2{
    display: flex;
    justify-content: space-between;
}



/*https://blog.bitsrc.io/pure-css-to-make-a-button-shine-and-gently-change-colors-over-time-5b685d9c6a7e*/
/*https://github.com/paigen11/paigeniedringhaus.com/blob/master/src/components/Subscribe/Subscribe.scss#L14*/